html {
  font-size: 14px;
}

input {
  padding: 8px;
}

input[type='search'] {
  width: 300px;
}

body {
  margin: 0;
  padding: 15px;
}

.author-detail {
  padding: 15px 0;
}

button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 8px;
  background-color: #FFF;
  border: 1px solid #3D3D3D;
}

button:hover {
  background-color: #3d3d3d;
  color: #FFF;
}

.pt-15 {
  padding: 15px 0;
}
